@import "reset.css";

:root {
    --steel-teal: #588b8bff;
    --white: #ffffffff;
    --unbleached-silk: #ffd5c2ff;
    --cadmium-orange: #f28f3bff;
    --cedar-chest: #c8553dff;
}

html, body {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Vollkorn', serif;
}

#content {
    height: 100%;
    width: 100%;
    background-color: var(--cedar-chest);
}

.title-container {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 4em;
    letter-spacing: 2px;
    color: var(--cadmium-orange);
    font-weight: bold;
}

.game-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.player-container {
    width: 60vh;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-name-container {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
    font-family: inherit;
    color: var(--unbleached-silk);
}

.player-grid {
    width: 60vh;
    height: 65vh;
    background-color: var(--steel-teal);
    border: 1px solid var(--white);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(1, 1fr);
}

.gridX {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.gridY {
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
}

.preview {
    background-color: var(--cadmium-orange);
}

.ship {
    background-color: var(--cadmium-orange);
}

.ready-text {
    width: 100%;
    font-size: 4em;
    letter-spacing: 3px;
    text-align: center;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}

.is-ready {
    color: #16d516;
    opacity: 1;
}

.hit {
    background-color: red;
}

.miss {
    background-color: white;
}

.instructionText {
    overflow: visible;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    color: white;
    font-size: 2em;
    text-align: center;
    transition: all 0.2s ease-in;
}

.alertUserErr {
    color: #ffc200;
}




